<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Login and Register</title>


</head>
<body>

<div class="container">

    <h1>Login and Register from template</h1>

    <div class="row">

        <!-- Login Link -->
        <div class="col">
          <a th:href="@{/login}">Login</a>
        </div>

        <!-- Register Link -->
        <div class="col">
          <a th:href="@{/regfrom}">Register</a>
        </div>

    </div>

</div>


</body>
</html>