<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Login and Register</title>


</head>
<body>

<div class="container">

    <h1>Login and Register</h1>

    <div class="row">

        <!-- Login Link -->
        <div class="col">
           <a href="login.html">Log In</a>
        </div>

        <!-- Register Link -->
        <div class="col">
           <a href="form.html">Go to Page 2</a>
        </div>

    </div>

</div>


</body>
</html>
